<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>jokes bruh</title>
  </head>
  <body>
    <h1>jokes</h1>

    {{#data}}
    <ul>
    <li>{{joke}}</li>  
    </ul>

    {{/data}}

  </body>
</html>
